.git/
.gitignore

node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite

__pycache__/
*.pyc
.env
.venv/
backend/env/
backend/venv/

.DS_Store

docker-compose.yml
docker-compose.override.yml
*.pid
*.sh

!supervisord.conf
!backend/
!frontend/
!Dockerfile

